.my-style{
  color: #007aff;
  color: #3F51B5;
  color: #62B1F6;
  color: #5cb85c;
  color: #d9534f;
  color: #f0ad4e;
  color: #f4f4f4;
  color: #edebed;
  color: #f5f4f5;
  color: #d3d3d3;
  color: #ed1727;
  color: #b5b5b5;
  color: #ccc;
  color: #039BE5;
  color: #F8F8F8;
  color: #007aff;
  color: #cde1f9;
  color: #CECDD2;
  color: #a7a6ab;
  color: #D9D5DC;
  color: #2b8339;
  color: #ed2f2f;
  color: #c9c9c9;
  color: #f4f4f4;
  color: #DDD;
  color: #808080;
  color: #3F51B5;
  color: #45D56E;
  color: #1A191B;
  color: #F8F8F8;
  color: #6b6b6b;
  color: #3F51B5;
  color: #b3c7f9;
  color: #007aff;
  color: #a7a6ab;
  color: #8e8e93;
}

.my-style-2{
  a: #007aff;
  b: #2b8339;
  c: #2a9d8f;
  d: #b5179e;
  e: #f77f00;
  f: #3F51B5;
  g: #5f0f40;
  h: #fca311;
  i: #6b705c;
  j: #606c38;
  k: #0077b6;
  l: #06d6a0;
  m: #8338ec;
  n: #9c6644;
  o: #fb5607;
  p: #ffc300;
  q: #ef476f;
  r: #6d6875;
  s: #774936;
  t: #00bbf9;
  u: #006d77;
  v: #f48c06;
  w: #38b000;
  x: #457b9d;
  y: #3F51B5;
  z: #ed2f2f;
  cd: #927325;
  xyz: #19398A;
  xyz: #1f4bb9;
  background: #19398A;
  statusbar: #34568B;
  statusbar1: #1F4F99;
  statusbar2: #3d74c7;
  ellipse: #6fa0ca;
}